.simple-icons-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
  
.simple-icons {
  @extend .simple-icons-background;
  position: relative;
  display: inline-block;
  width: 1em;
  line-height: 1em;
  &.simple-icons-2x {
    width: 2em;
    line-height: 2em;
  }
  &.simple-icons-3x {
    width: 3em;
    line-height: 3em;
  }
  &.simple-icons-4x {
    width: 4em;
    line-height: 4em;
  }
  &.simple-icons-5x {
    width: 5em;
    line-height: 5em;
  }
  &:before {
    content: '\00a0';
  }
}
  
@mixin simple-icons($brand) {
  .simple-icons-#{$brand} {
    background-image: url(#{$simple-icons-path}/#{$brand}.svg);
  }
}