$white: #ffffff;
$black: #000000;
$light-black: #0d1518;
$gray: #d4d4d4;
$dark-gray: #3d3d3d;
$silver: #808080;
$overlay-color: #2d2d33;
$green: #72cc96;
$dark-green: #36b615;
$red: #ee5f5b;
$blue: #19b5fe;
$light-blue: #20b2aa;
$dark-blue: #1475b1;
$aqua: #7fdbff;
$yellow: #f89406;
$sunny: #f3dd1a;
$light-purple: #b000ff;


$heart-color: #e25555;
$html5-color: #e34c26;
$css3-color: #2067ff;
$facebook-color: #3b5998;
$linkedin-color: #0077b5;
$twitter-color: #55acee;
$instagram-color: #e1306c;
$telegram-color: #0088cc;
$discord-color: #7289da;
$protonmail-color: #8a90c7;
$lichess-color: #8d8d8d;
$chess-color: #226619;




$base-font: "weblysleek_uilight", "roya", "nazanin", "mitra", "lotus", sans-serif;
$farsi-font: "roya", "nazanin", "mitra", "lotus";
$farsi-p-font: "mitra";
$code-font: "LiberationMonoRegular",monospace;
$special: "Envy Code R";

// break point
$small: 750px;