// ---------------- Colors -----------------

$white: #ffffff;
$black: #000000;
$light-black: #0d1518;
$gray: #d4d4d4;
$dark-gray: #3d3d3d;
$silver: #808080;
$overlay-color: #2d2d33;
$green: #72cc96;
$dark-green: #36b615;
$red: #ee5f5b;
$blue: #19b5fe;
$light-blue: #20b2aa;
$dark-blue: #1475b1;
$aqua: #7fdbff;
$yellow: #f89406;
$sunny: #f3dd1a;
$light-purple: #b000ff;

// --------------- Brand Colors ------------

$heart-color: #e25555;
$html5-color: #e34c26;
$css3-color: #2067ff;
$facebook-color: #3b5998;
$linkedin-color: #0077b5;
$twitter-color: #55acee;
$gitlab-color: #fc6d26;
$github-color: #333333;
$goodreads-color: #553b08;
$instagram-color: #e1306c;
$telegram-color: #0088cc;
$discord-color: #7289da;
$wordpress-color: #0087be;
$protonmail-color: #8a90c7;
$stack-overflow-color: #f48024;
$reddit-color: #ff4500;
$quora-color: #a82400;
$hacker-news-color: #ff4000;
$steam-color: #00adee;
$behance-color: #1769ff;
$xing-color: #026466;
$tumblr-color:#35465c;
$lastfm-color: #d51007;
$dribbble-color: #ea4c89;
$pinterest-color: #bd081c;
$foursquare-color: #f94877;
$youtube-color: #ff0000;
$soundcloud-color: #ff8800;
$flickr-color: #0063dc;
$codepen-color: #0ebeff;
$keybase-color: #55acee;
$lichess-color: #8d8d8d;
$chess-color: #226619;
$key-color: #606c76;
$globe-color: #34be5b;
$bitcoin-color: #f7931a;
$playstation-color: #003791;

// ------------- Font Options ---------------

// this should contain a font for each language as base font
$base-font: 'Ubuntu', 'Vazir', sans-serif;

// this fonts will be used to show code blocks in your blog
$code-font: 'Vazir Code Hack', monospace;

// break point [ don't touch this, it is hard to explain what it does ]
$small: 750px;

// ---------------- English -----------------
$english-base-font: 'Ubuntu';
$english-home-left-font: 'Titillium Web';
$english-home-right-h-font: 'Titillium Web';
$english-home-right-p-font: 'Ubuntu';
$english-home-links-font: 'Titillium Web';
$english-section-title-font: 'Titillium Web';
$english-date-font: 'Ubuntu';
$english-date-highlight-font: 'Ubuntu';
$english-post-list-title-font: 'Titillium Web';
$english-post-list-excerpt-font: 'Ubuntu';
$english-tags-font: 'Titillium Web';
$english-pts-tags-font: 'Titillium Web';
$english-section-line-font: 'Titillium Web';
$english-change-language-font:'Ubuntu';
$english-inner-post-h-font: 'Titillium Web';
$english-inner-post-p-font: 'Ubuntu';
$english-inner-post-small-font: 'Ubuntu';
$english-inner-post-ul-font: 'Ubuntu';
$english-footer-area-font: 'Titillium Web';
$english-pagination-font: 'Titillium Web';
$english-btn-font: 'Titillium Web';

//---------------- Farsi --------------------

$farsi-base-font: 'Vazir';
$farsi-home-left-font: 'Vazir';
$farsi-home-right-h-font: 'Sahel';
$farsi-home-right-p-font: 'Vazir';
$farsi-home-links-font: 'Vazir';
$farsi-section-title-font: 'Sahel';
$farsi-date-font: 'Vazir';
$farsi-date-highlight-font: 'Vazir';
$farsi-post-list-title-font: 'Sahel';
$farsi-post-list-excerpt-font: 'Vazir';
$farsi-tags-font: 'Vazir';
$farsi-pts-tags-font: 'Sahel';
$farsi-section-line-font: 'Sahel';
$farsi-change-language-font: 'Vazir';
$farsi-inner-post-h-font: 'Sahel';
$farsi-inner-post-p-font: 'Vazir';
$farsi-inner-post-small-font: 'Vazir';
$farsi-inner-post-ul-font: 'Vazir';
$farsi-footer-area-font: 'Sahel';
$farsi-pagination-font: 'Sahel';
$farsi-btn-font: 'Sahel';
