<div class="overlay">
  <ul class="projects-menu">
    {% for item in site.data.projects %}
      {% capture image %}{{ item.image }}{% endcapture %}
      {% unless image contains 'http://' or image contains 'https://' %}
      {% capture image %}{{ site.url }}/{{ image }}{% endcapture %}
      {% endunless %}
      <li style="background:url({{ image }}) center center no-repeat;">
        <a href="{{ item.url }}" {% unless item.completed %}class="inactive"{% endunless %} target="_blank" rel="nofollow external">
          <span>
            {{ item.title }}
            {% unless item.completed %}
            <br><em>in progress</em>
            {% endunless %}
          </span>
        </a>
        </li>
    {% endfor %}
  </ul>
  <ul class="languages-menu">
    {% for item in site.language-options.lang-id %}
      <li style="background:url({{ site.url }}/{{ site.data.languages[ item.title ].image }}) center center no-repeat;">
        <a href="{{ site.url }}/{{ item.title | replace: site.language-options.lang-default, '' }}">
          <span>
            {{ site.data.languages[ item.title ].label[ page.lang ] }}
          </span>
        </a>
        </li>
    {% endfor %}
  </ul>
</div>
